- // Dragon Webeloper 4
- // _config.jade | 0.1

include dw4/_dw4.jade


- // JSON VARS ############
- /* //GOOGLE STYLESHEETS 
- var item_img         = "item.gsx$img.$t"
- var item_fecha       = "item.gsx$fecha.$t"
- var item_tipo        = "item.gsx$tipo.$t"
- var item_titulo      = "item.gsx$titulo.$t"
- var item_mes         = "item.gsx$mes.$t"
- var item_dia         = "item.gsx$dia.$t"
- var item_contenido   = "item.gsx$contenido.$t"
- var item_nombre      = "item.gsx$nombre.$t"
- var item_twitter     = "item.gsx$twitter.$t"
- var item_facebook    = "item.gsx$facebook.$t"
- var item_instagram   = "item.gsx$instagram.$t"
- var item_linkedin    = "item.gsx$linkedin.$t"
- var item_correo      = "item.gsx$correo.$t"
- var item_telefono    = "item.gsx$telefono.$t"
- var item_direccion1  = "item.gsx$direccion1.$t"
- var item_direccion2  = "item.gsx$direccion2.$t"
- var item_id          = "item.id.$t"
- */
- var item_img         = "item.img"
- var item_fecha       = "item.fecha"
- var item_tipo        = "item.tipo"
- var item_titulo      = "item.titulo"
- var item_mes         = "item.mes"
- var item_dia         = "item.dia"
- var item_contenido   = "item.contenido"
- var item_nombre      = "item.nombre"
- var item_twitter     = "item.twitter"
- var item_facebook    = "item.facebook"
- var item_instagram   = "item.instagram"
- var item_linkedin    = "item.linkedin"
- var item_correo      = "item.correo"
- var item_telefono    = "item.telefono"
- var item_direccion1  = "item.direccion1"
- var item_direccion2  = "item.direccion2"
- var item_id          = "item.id"

- // CSS ################################################################################
- css('https://cdnjs.cloudflare.com/ajax/libs/10up-sanitize.css/3.2.0/sanitize.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
- css('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css')
- css('https://fonts.googleapis.com/css?family=Roboto+Slab')
- css('https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/css/ngDialog.min.css')
- css('https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/css/ngDialog-theme-default.min.css')


- css('app/app.css')

- // JS ################################################################################


- js('https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
- js('https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/js/buttons.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js')

- js('https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.3.3/angular-google-maps.js')
- js('https://cdn.rawgit.com/rprovost/ng-backstretch/master/dist/ng-backstretch.min.js')
- js('https://cdn.rawgit.com/novayagazeta-app/angular-swipebox/master/dist/angular-swipebox.min.js')
- js('https://cdn.rawgit.com/nmccready/angular-simple-logger/master/dist/angular-simple-logger.light.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/sticky.min.js')
- js('https://cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.6.4/js/ngDialog.min.js')
//- js('https://cdnjs.cloudflare.com/ajax/libs/angular-slick-carousel/3.1.5/angular-slick.min.js')
- js('app/js/angular-slick.js')


- js('app/app.js')

- // MENU ################################################################################
- menu('<img src="app/img/nuevolaredo.png", alt="Gobierno de Nuevo Laredo" class="fluid" />', '/inicio', null, {"class":"logo-inside", 'ui-sref':'inicio'})
- menu('Inicio', '/inicio', null, {'ui-sref':'inicio'})
- menu('Cultura y turismo', '/cultura-y-turismo', null, {'ui-sref':'cultura-y-turismo'})
- menu('Trámites y servicios <i class="fa fa-angle-down"></i>', '#tramites-y-servicios')
- menu('Pago de predial', '/pago-de-predial', '#tramites-y-servicios', {'ui-sref':'pago-de-predial'})
- menu('Obras públicas', 'http://nuevolaredo.gob.mx/obrasweb/', '#tramites-y-servicios', {'target':'_blank'})
- menu('Servicios públicos', 'http://nuevolaredo.gob.mx/servweb/', '#tramites-y-servicios', {'target':'_blank'})
- menu('Transparencia', 'http://nld.gob.mx/index.php?m=transparencia&tipo=oficios', null, {'target':'_blank'})
- menu('Acércate <i class="fa fa-angle-down"></i>', '#acercate')
- menu('Mensaje del Presidente', '/mensaje-del-presidente', '#acercate', {'ui-sref':'mensaje-del-presidente'})
- menu('Gabinete', '/gabinete', '#acercate', {'ui-sref':'gabinete'})
- menu('Directorio', '/directorio', '#acercate', {'ui-sref':'directorio'})
- menu('Centro integral de Atención a Ciudadanos', 'http://nuevolaredo.gob.mx/ciac-admin/', '#acercate', {'target':'_blank'})
- menu('Sala de prensa', '/sala-de-prensa', null, {'ui-sref':'sala-de-prensa'})







mixin topbar
  .topbar
    .container
      .c6.ct12.cm12
        .container.tac
          //.c.cm12.telefono
            i.fa.fa-phone
            span  01-800-987-654
          a.c.cm12(href="mailto:admin@nuevolaredo.gob.mx")
            i.fa.fa-envelope
            span  admin@nld.gob.mx
          //a.c.cm12(href="#")
            i.fa.fa-user
            span  Iniciar sesión
      .c6.ct12.cm12.redes.tar
        .container
          .c
            a(href="http://twitter.com"): i.fa.fa-twitter
            a(href="http://facebook.com"): i.fa.fa-facebook
            a(href="http://youtube.com"): i.fa.fa-youtube
            a(href="http://instagram.com"): i.fa.fa-instagram
          //.c.search
            label.fa.fa-search
            input(type="search")

mixin header
  header
    .container: .c.tac.logo: a(ui-sref="inicio"): img(src="app/img/nuevolaredo.png", alt="Gobierno de Nuevo Laredo")
    .masmodernidad: img(src="app/img/masmodernidad.png", alt="Más modernidad")
    +menu
    .menuBtn: i.fa.fa-bars
    
mixin subheader(title, subtitle)
  .subheader
    h1 #{title}
    if(subtitle)
      h2 #{subtitle}
    
mixin metainfo
  .metainfo
    .container
      .c
        i.fa.fa-calendar-o
        |  {{#{item_fecha}}}
      .c
        i.fa.fa-folder-o
        |  {{#{item_tipo}}}
      
      .c
        +socialshare

mixin socialshare
  .container.tac
    .c: .fb-share-button
    .c: a.twitter-share-button(href="https://twitter.com/intent/tweet")

mixin footer
  +accesos
  footer
    .container
      .c4.ct12.cm12.g
        script(type="text/ng-template" id="noticiaTmp")
          +moduloEvento
                      
        h2 Próximos eventos
        ul.proximos-eventos.container
            li.c12.ct6.cm12(ng-repeat="item in eventos" ng-click="eventoOpen(#{item_id})")
              .container.middle
                .c3.g: .img(ng-style="{ 'background-image':'url('+#{item_img}+')' }").fluid
                .c8.g
                  p {{#{item_titulo}}} 
                  .date
                    i.fa.fa-calendar-o
                    |  {{#{item_mes}}} {{#{item_dia}}}
        
              
              
      .c4.ct6.cm12.g.sobre
        h2 Mensaje del Presidente Municipal
        p Me dirijo a ustedes con el orgullo de representar el interés de todos y encaminar a nuestra gran ciudad hacia el horizonte de la modernidad.
        p.tac: a(ui-sref="mensaje-del-presidente").button.button-border Seguir leyendo
        
        
      .c4.ct6.cm12.g
        h2 Síguenos en Facebook
        .tac
          | <div class="fb-page" data-href="https://www.facebook.com/gobiernodenuevolaredo/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"></div>
    section.otros
      .container.tac
        .c: a(href="http://difnuevolaredo.gob.mx/", target="_blank"): img(src="app/img/lg_dif.png", alt="DIF")
        .c: a(href="http://nuevolaredo.gob.mx/ciac-admin/", target="_blank"): img(src="app/img/lg_ciac.png", alt="CIAC")
        .c: a(href="http://www.tamaulipas.gob.mx/", target="_blank"): img(src="app/img/lg_tam.png", alt="Tamaulipas")
        .c: a(href="http://www.gob.mx/presidencia", target="_blank"): img(src="app/img/lg_mx.png", alt="Presidencia de la República")
    .end
      .container.middle
        .c6.cm12.g.tac
          .footer-logo: a(ui-sref="inicio"): img(src="app/img/nuevolaredo.png", alt="Gobierno de Nuevo Laredo")
          p Todos lo Derechos Reservados. 2016
        .c6.cm12.g.tar
          .container.tal
            .c6.g.first: +menu
            .c6.g.second: +menu


mixin moduloEvento
  .moduloNota.container.fluid
    .c12.img(ng-style="{ 'background-image':'url('+#{item_img}+')' }")
    .c12.g: .title {{#{item_titulo}}}
    .c12.g: .date
      i.fa.fa-calendar-o
      |  {{#{item_mes}}} {{#{item_dia}}}
    .c12.g: p.description(ng-bind-html="#{item_contenido}")

mixin moduloNota
  a(ui-sref="nota({id:#{item_id}})").moduloNota.container.fluid
    .c12.img(ng-style="{ 'background-image':'url('+#{item_img}+')' }")
    .c12.g: .title {{#{item_titulo}}}
    .c12.g: .date
      i.fa.fa-calendar-o
      |  {{ #{item_fecha} }}
    .c12.g: p.description 
      | {{#{item_contenido} | htmlToPlaintext | limitTo:90}}
      | ...
      
mixin moduloGabinete
  .moduloGabinete.container.fluid
    a.c12.img(ui-sref="gabinete-detalle({id:#{item_id}})" ng-style="{ 'background-image':'url('+#{item_img}+')' }")
      .hover.container.middle.center
        .c
          .name {{#{item_nombre}}}
          .job-title {{#{item_titulo}}}
    a(ui-sref="nota").c10.cm12.g
      .title {{#{item_nombre}}}
      p.description 
        | {{#{item_contenido} | htmlToPlaintext | limitTo:90}}
        | ...
    .c2.cm12.g.social.tac
      a(ng-href="{{#{item_twitter}}}" ng-if="#{item_twitter}"): i.fa.fa-twitter
      a(ng-href="{{#{item_facebook}}}" ng-if="#{item_facebook}"): i.fa.fa-facebook
      a(ng-href="{{#{item_linkedin}}}" ng-if="#{item_linkedin}"): i.fa.fa-linkedin
      a(ng-href="{{#{item_instagram}}}" ng-if="#{item_instagram}"): i.fa.fa-instagram

mixin moduloDirectorio
  .moduloDirectorio.container.fluid
    .c
      .what
        | {{#{item_nombre}}}
        br
        small {{item.gsx$area.$t}}
      .mail: a(ng-href="mailto:{{#{item_correo}}}")
        i.fa.fa-envelope-o
        |  {{#{item_correo}}}
      .phone
        i.fa.fa-phone
        |  {{#{item_telefono}}}
      .addr
        i.fa.fa-map-marker
        |  <strong>{{#{item_direccion1}}}</strong>
        br
        | {{#{item_direccion2}}}

mixin accesos
  .accesos-directos
    .telefonos
      input(type="checkbox").nom.nod.not#check-telefonos
      label.fa.fa-phone(for="check-telefonos")
      ul
        li: a(href="tel:066")
          .sub Emergencias y Protección Civil
          .tit Tel: 066
        li: a(href="tel:070")
          .sub Centro Integral de Atención Ciudadana
          .tit Tel: 070
    .webs
      input(type="checkbox").nom.nod.not#check-webs
      label.fa.fa-share-square-o(for="check-webs")
      ul
        li: a(ui-sref="gabinete")
          .sub Gabinete
          .tit Funcionarios municipales
        li: a(ui-sref="directorio")
          .sub Directorio
          .tit Dependencias municipales
        li: a(href="http://nuevolaredo.gob.mx/ciac-admin/" target="_blank")
          .sub CIAC
          .tit Centro Integral de Atención Ciudadana
        li: a(href="http://difnuevolaredo.gob.mx/" target="blank")
          .sub DIF
          .tit Nuevo Laredo
